@model MVC_Ruou.Models.Wine

@{
    ViewData["Title"] = "Xóa sản phẩm";
    ViewData["banner"] = "Xóa sản phẩm";
}

<div id ="edit-box">
    <h3>Bạn có chắc chắn muốn xóa sản phẩm này không ?</h3>
    <div>
        <h4>Wine</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.inputPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.inputPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.outputPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.outputPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Amount)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
        <a asp-action="Index"><button class="btn btn-secondary">Quay lại</button></a>
    </div>
</div>